body {
	background-color:#78c0a8;
	margin:0px;
	padding:0px;
	font-family: Arial, sans-serif;
}

#logo {
	float:left;
	text-decoration: none;
	font-size:26px;
	font-family:Verdana, Geneva, sans-serif;
	color:white;
}

#header {
	line-height:46px;
	width:100%;
	background-color:#5e412f;
	margin:0px;
}

#header_content {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	width:900px;
}

#nav {
	text-align:right;
	font-family: Verdana, sans-serif;
	margin-bottom:0px;
}

#nav ul, li{
	font-family: Verdana, sans-serif;
	display: inline;
}


#nav a:link, a:visited{
	color:white;
}

#nav a {
	
	padding-top:0px;
	padding-bottom:0px;
	text-decoration:none;
}

#nav a:hover, #nav a:active {
	color:white;
	background-color:#76513a;
}


#login {
	background-color:white;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;	
	padding:18px;
	width:300px;
	border-style:solid;
	border-width:1px;
	border-color:grey;
	

}

#login ul{
	margin:0px;
	padding:0px;
}

#login li{
	margin-top:0px;
	padding:0px;
		
}

#login .text, .text-input{
	width:100%;
}

#login .text {
	font-weight:bold;
	font-size:12px;
}

#login .container {
	margin-top:12px;
	margin-bottom:12px;
}

.common-content {
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	padding:16px;
	height:94vh;
   	width:900px;
}



















