.frame {
	width:100%;
	border:solid grey 1px;
	background-color:black;
	font-weight:bold;
	font-family:Arial, sans-serif;
}

.frame-header {
	background-color:#4298b5;
	line-height:24px;
	
	padding-left:6px;	
}

.frame-body {
	background-color:#adc4cc;
	padding:12px;
}

.frame-body table{
	margin-left:auto;
	margin-right:auto;
}

.frame-body td {
	padding-left:30px;
	padding-right:30px;
}

.frame-footer {
	padding:3px;
	background-color:#4298b5;
	text-align:right;
}



